.our {
  background-color: white;
  padding: 15px;
  border-radius: 8px;



}

.sign {
  width: 75%;
  border-bottom: 1px solid #343434;
  line-height: 0.1em;
}

  .sign2{
  border-bottom: 1px solid rgb(218, 17, 17);
  width: 100%;


}

@media screen and (max-width:1261px) {
  .sign {
    width: 70%;
  }
}

@media screen and (max-width:1261px) {
  .sign {
    width: 65%;
  }
}

@media screen and (max-width:1261px) {
  .sign {
    width: 65%;
  }
}

@media screen and (max-width:993px) {
  .sign {
    width: 60%;
  }
}

.mobile-size {
  font-size: small;
}

.list-style {
  margin-left: -18px;
}

.myLink6 span {
  /* Your styles here */
  border: 1px solid rgb(236, 231, 231);
  width: 150px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.struct {
  display: flex;
  align-items: center;
}
