.sign2 {
  width: 45%;
  border-bottom: 1px solid #343434;
}

.swal2-confirm {
  box-shadow: none !important;  /* Removes the outline (focus ring) */
  outline: none !important;      /* Ensures no outline on focus */
}

.link-body {
  background-color: white;
  border: 1px solid #ffce29;
  border-radius: 4px;
}

.link {
  border: none;
  margin-left: 4px;
  padding: 14px;
  width: 85%;
  outline: none;

}

@media screen and (max-width:1169px) {
  .use {
    font-size: 20px;
  }
}

@media screen and (max-width:1169px) {
  .use {
    font-size: 18px;
  }
}

@media screen and (max-width:1305px) {
  .link {
    width: 82%;
  }
}

@media screen and (max-width:1189px) {
  .link {
    width: 80%;
  }
}

@media screen and (max-width:1069px) {
  .link {
    width: 78%;
  }
}

@media screen and (max-width:997px) {
  .link {
    width: 76%;
  }

  .use {
    font-size: 16px;
  }
}

.link-mobile {
  border: 1px solid #ffce29;
  border-radius: 5px;
  margin-left: 4px;
  padding: 14px;
  width: 100%;
  outline: none;
  background-color: white;
}

.mobile-btn {
  margin-top: 50px;
  text-align: center;
}

.footer-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 75%;
}

