 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/* Body */
body {
    margin: 0;
    padding: 5px;
    color: black;
    font-size: 15px;
    background-color: #f6f8fc;
    font-family: 'Poppins';
   
                                    
}
#profile_email {
    font-size: 12px;
}

.start-sell {
    text-decoration: none;
    color: white;
    background-color: #fe3d3d;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .filter-result{
      display: none;
  }
  
  


.swal2-confirm {
    box-shadow: none !important;  /* Removes the outline (focus ring) */
    outline: none !important;      /* Ensures no outline on focus */
}

.loader-text {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #ffb705; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .div-signup {
    justify-content:center;
    align-items:center;
    display: none; 
  }



  .login-loader-text {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #ffb705; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .login-loader-div {
    justify-content:center;
    align-items:center;
    display: none;
  }




  .request-loader-text {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #ffb705; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .request-loader-div {
    justify-content:center;
    align-items:center;
    display: none;
  }

  .verify-loader-text {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #ffb705; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;

  }
  
  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
   */
  .verify-loader-div {
    justify-content:center;
    align-items:center;
    display: none;
  }


  .change-loader-text {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #ffb705; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;

  }
  
  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
   */
  .change-loader-div {
    justify-content:center;
    align-items:center;
    display: none;
  }

  
  .loader-div-signup {
    justify-content:center;
    align-items:center;
    /* display: none; */
  }

  .loader-div {
    justify-content:center;
    align-items:center;
    display: none;
  }


a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: black;
}

/* Navbar */
.navbar-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0px 10px;
    margin-top: -2px;
    box-shadow: 0px 5px 5px rgba(169, 168, 168, 0.3);
    background-color: white;
    height: 90px;
}

/* Navbar Media Query */
@media screen and (max-width: 700px) {
    .navbar-1 {
        height: 180px;
        margin-top: -50px;
    }
}

.buy_and_sell_logo {
    margin-right: auto;
    max-width: 160px;
    margin-left: 1px;
    padding-right: 5px;
    cursor: pointer;
}
/* the prpfile picture */
.profile_picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;

}

.profile_picture_mobile {
    /* width: 45px;
    height: 45px; */
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 700px) {

    .profile_picture {
        display: none;
    }

    .profile_picture_mobile {

        display: flex;
    }
}

.profile_card {
    display: none;
    position: fixed;
    background-color: white;
    border-radius: 9px;
    border: 1px solid whitesmoke;
    padding: 10px;
    right: 3%;
    top: 10%;
    width: fit-content;
    height: 250px;
    z-index: 999999;
    box-shadow: 0px 5px 5px rgba(169, 168, 168, 0.3);
}

.profile_card_user_name {
    display: flex;
}

.profile_card_user_name p {
    font-size: 17px;
    font-weight: bold;
    margin: 25px 10px 10px 10px;
    line-height: 17px;
}

.profile_card_user_name p span {
    font-size: 13px;
    font-weight: normal;
}

.accont_features {
    margin: 10px;
}

.accont_features p {
    margin: 3px;
    cursor: pointer;
}

/* Notification */
#notification_icon_div {
    margin-left: auto;
    margin-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

/* Notification */
#notification_icon_div2 {

    display: none;
    margin-left: auto;
    margin-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    #notification_icon_div {
        display: none;
    }

    /* Notification */
    #notification_icon_div2 {
        display: block;


    }
}

/* Search Bar */
.search-bar {
    display: inline-block;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 4px;
    width: 65%;
    margin-left: 5%;
}

@media screen and (max-width: 1000px) {
    .search-bar {
        margin-left: 0%;
    }
}

.search-bar:focus-within {
    border: 1.5px solid #ffce29;
    outline: 2.5px solid #fdf0c6;
}

/* Search Bar Media Query */
@media screen and (max-width: 700px) {
    .search-bar {
        display: inline;
        margin-top: 100px;
        position: absolute;
        width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: 5px;
    }
}

/* Search Button */
.search {
    padding: 4px 7px;
    background-color: #ffce29;
    border: 1px solid #ffce29;
    border-radius: 4px;
    float: right;

}
.search:hover{
    background-color: #f8c008;
    border: 1px solid #fdc60f;
}

/* Country Input */
.country-input {
    background-color: white;
    width: 22.5%;
    padding: 5px 10px 6px 20px;
    float: left;
    margin-top: 2px;
    font-size: 13px;
    outline: none;
    border: none;
}

/* Country Input Media Query */
@media screen and (max-width: 550px) {
    .country-input {
        width: 15%;
        /* width: 28%; */
        padding: 5px 10px;
        float: left;
        padding-left: 20px;
        font-size: 13px;
        
    }
 
}

/* Find What to Buy Input */
.find-what-to-buy {
    width: 65%;
    padding: 5px 10px;
    font-size: 15px;
    margin-left: 20px;
    outline: none;
    border: none;
}

/* Find What to Buy Input Media Query */
@media screen and (max-width: 1200px) {
    .find-what-to-buy {
        width: 62%;
    }
}

/* Find What to Buy Input Media Query */
@media screen and (max-width: 1000px) {
    .find-what-to-buy {
        width: 58%;
    }
}

/* Find What to Buy Input Media Query */
@media screen and (max-width: 850px) {
    .find-what-to-buy {
        width: 55%;
    }
}

/* Find What to Buy Input Media Query */
@media screen and (max-width: 800px) {
    .find-what-to-buy {
        width: 50%;
    }
}

/* Find What to Buy Input Media Query */
@media screen and (max-width: 550px) {
    .find-what-to-buy {
        border: 2px solid white;
        width: 40%;
        padding: 5px 10px;
        font-size: 12px;
        /* margin-left: 20px; */
        margin-left: 40px;
    }
}

/* Find What to Buy Input Media Query */
@media screen and (max-width: 450px) {
    .find-what-to-buy {
        border: 2px solid white;
        width: 48%;
        padding: 5px 10px;
        font-size: 12px;
        /* margin-left: 5px; */
        margin-left: 45px;
    }
}


/* Find What to Buy Input Media Query */
@media screen and (max-width: 370px) {
    .find-what-to-buy {
        border: 2px solid white;
        width: 40%;
        padding: 5px 10px;
        font-size: 12px;
        margin-left: 5px;
    }
}

/* Vertical Bar */
.vertical-bar {
    border-left: 2px solid #6b6565;
    height: 24px;
    margin-left: 14.5%;
    position: absolute;
    margin-top: 5px;
}

/* Vertical Bar Media Query */
@media screen and (max-width: 700px) {
    .vertical-bar {
        border-left: 2px solid #6b6565;
        height: 24px;
        margin-left: 28%;
        position: absolute;
        margin-top: 5px;
    }
}

/* location icon beside location */
.location-icon {
    position: absolute;
    padding-top: 5px;
    margin-left: 4px;
}


/* Carousel and Start Selling Container */
.banner_veiw {
    margin-top: 95px;
    display: flex;
    background-color: #f6f8fc;
}

/* Carousel and Start Selling Container Media Query */
@media screen and (max-width: 700px) {
    .banner_veiw {
        margin-top: 135px;
        display: block;
    }
}


.carousel {
    display: flex;
}

/* Carousel */
.mycarousel {
    display: flex;
    height: 350px;
    width: 100%;
    max-width: 83%;
    object-fit: cover;
    /* height: 315px; */
}

@media screen and (max-width: 1500px) {

    .mycarousel {
        height: 325px;
    }
    .start-selling{
        height: 325px;
    }
}

@media screen and (max-width: 1400px) {

    .mycarousel {
        height: 305px;
    }
    .start-selling{
        height: 305px;
    }
}

@media screen and (max-width: 1300px) {

    .mycarousel {
        height: 290px;
    }
    .start-selling{
        height: 290px;
    }
}

@media screen and (max-width: 1200px) {

    .mycarousel {
        height: 258px;
    }
     .start-selling{
        height: 258px;
    }
}

@media screen and (max-width: 1100px) {

    .mycarousel {
        height: 230px;
    }
    .start-selling{
        height:230px;
    }
}

@media screen and (max-width: 1000px) {

    .mycarousel {
        height: 210px;
    }
    .start-selling{
        height: 210px;
    }
}

@media screen and (max-width: 900px) {

    .mycarousel {
        height: 190px;
    }
    .start-selling{
        height: 190px;
    }
}

@media screen and (max-width: 800px) {

    .mycarousel {
        height: 160px;
    }
    .start-selling{
        height: 160px;
    }
}

@media screen and (max-width: 700px) {

    .mycarousel {
        height: 185px;
    }
}

@media screen and (max-width: 650px) {

    .mycarousel {
        height: 165px;
    }
}

@media screen and (max-width: 600px) {

    .mycarousel {
        height: 155px;
    }
}

@media screen and (max-width: 550px) {

    .mycarousel {
        height: 135px;
    }
}


@media screen and (max-width: 500px) {

    .mycarousel {
        height: 130px;
    }
}

@media screen and (max-width: 450px) {

    .mycarousel {
        height: 125px;
    }
}

@media screen and (max-width: 400px) {

    .mycarousel {
        height: 105px;
    }
}

@media screen and (max-width: 350px) {

    .mycarousel {
        height: 95px;
    }
}

@media screen and (max-width: 300px) {

    .mycarousel {
        height: 85px;
    }
}

/* Carousel Image */
.carousel img {
    max-width: 100%;

}

/* Carousel Inner */
.carousel-inner {
    display: flex;
    transition: transform 0.2s ease;
}


/* carousel media query for small screen */
@media screen and (max-width: 700px) {
    .carousel {
        max-width: 100%;
    }
}



/* Start Selling */
.start-selling {
    text-decoration: none;
    color: white;
    max-width: 18%;
    min-width: 15%;
    margin-left: auto;
    color: white;
    background-color: #ff0000;
    border-top-right-radius: 75px;
    text-align: center;
}

.start-selling:hover {
    color: white;
    background-color: rgb(235, 15, 15);
}

@media screen and (max-width: 1200px) {


    .start-selling {
        border-top-right-radius: 60px;
    }
}


@media screen and (max-width: 1000px) {


    .start-selling {
        border-top-right-radius: 50px;
    }
}

.do_you {
    margin: 55px 20px 35px 20px;
}


@media screen and (max-width: 1200px) {
    .do_you {
        margin: 30px 20px 30px 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1100px) {
    .do_you {
        margin: 20px 15px 30px 15px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .do_you {
        margin: 15px auto;
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    .do_you {
        margin: 12px auto;
        font-size: 9px;
    }
}

@media screen and (max-width: 800px) {
    .do_you {
        margin: 11px auto;

    }
}

.start-selling img {
    width: 50px;
    height: auto;
    margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
    .start-selling img {
        width: 45px;
        height: auto;
        margin-bottom: 9px;
    }


}

.start_selling_p2 {
    font-size: 20px;
    font-weight: bold;

}

@media screen and (max-width: 1200px) {

    .start_selling_p2 {
        font-size: 18px;
        font-weight: normal;
    }

}

@media screen and (max-width: 1100px) {

    .start_selling_p2 {
        font-size: 16px;

    }

}

@media screen and (max-width: 800px) {

    .start_selling_p2 {
        font-size: 14px;

    }

}

/* Start Selling Media Query */
@media screen and (max-width: 700px) {
    .start-selling {
        display: none;
    }
}

/* Sidebar Container */
.sidebar-container {
    display: flex;
    flex-wrap: nowrap;
}

/* Sidebar */
.sidebar {
    width: 20%;
    max-width: 20%;
    position: sticky;
    top: 13%;
    right: 100%;
    height: fit-content;
    background: white;
    padding: 20px;
    border: 1px solid whitesmoke;
    z-index: 999;
}

/* Sidebar Media Query */
@media screen and (max-width: 1100px) {
    .sidebar {
        display: none;
    }
}


.filter {
    margin-left: 5px;
    padding-right: 5px;
}

.filter_line {
    border-bottom: 2px solid rgb(180, 179, 179);
    width: 170px;
    max-width: 200%;
    margin-bottom: 28px;
    padding: 0px 2px;
}

.filter_section {
    display: flex;
}

.verify_badge {
    width: 20px;
    height: 20px;
}

.start_selling_filter {
    width: 100%;
    height: auto;
    max-width: 500%;
}

.start_selling_div {
    font-size: 13px;
    display: flex;
    color: white;
    background-color: red;
    text-decoration: none;
}

.start_selling_div:hover {
    color: white;
    background-color: rgb(221, 12, 12);
}

.start_selling_div img {
    width: 47px;
    height: 47px;
    margin-top: 5px;
    padding: 6px;
}

.start_selling_p {
    text-align: center;
    padding: 5px;
    line-height: 15px;
    margin-top: 5px;


}

.start_selling_span {
    font-size: 11px;
}

.start_selling_span2 {
    font-size: 16px;

}

/* Main body */
.main {
    background-color: #f6f8fc;
    padding: 10px;
    width:80%;

}

/* Main Media Query */
@media screen and (max-width: 1100px) {
    .main {
        width: 100%;
    }
}

/* Label */
label {
    display: block;
    margin-top: 10px;
}

/* Range Input */
input[type="range"] {
    width: 80%;
    margin-top: 5px;
    background-color: red;
    color: red;
}

#minPriceRange {
    background-color: red;
    color: red;
}

/* Price Input Width */
.PriceInputWidth {
    max-width: 100%;
    color: red;
    border-radius: 3px;
    border: 2px solid rgb(132, 131, 131);
}

.PriceInputWidth:focus-within {
    border: 1.5px solid #ffce29;
    outline: 2.5px solid #fdf0c6;
}

.product_condition_p {
    font-size: 14px;
    margin-top: 10px;
}

.product_condition_desktop {
    background-color: #f6f8fc;
    box-shadow: 0px 5px 5px rgba(80, 79, 79, 0.3);
    padding: 5px;
    border-radius: 4px;
    width: fit-content;
    height: 46px;

    display: flex;



}

/* Button  for "new" or "farily used"*/
.button {
    width: 75px;
    height: 30px;
    font-size: 11px;
    margin: 2px;

    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
}


/* New Button */
.new2 {
    background-color: white;
}

/* Used Button */
.used2 {
    background-color: white;
    margin-left: 5px;
}


/* New Button */
.new {
    background-color: white;
}

/* Used Button */
.used {
    background-color: white;
}

/*
.new.clicked {
    background-color: rgb(105, 231, 41);
    border: 1px solid rgb(103, 221, 44);
}

.used.clicked {
    background-color: rgb(104, 203, 216);
    border: 1px solid rgb(104, 203, 216);
}
    */

.newBtn {
    background-color: rgb(105, 231, 41);
    border: 1px solid rgb(103, 221, 44);
}

.usedBtn {
    background-color: rgb(104, 203, 216);
    border: 1px solid rgb(104, 203, 216);
}




/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 13px;
    margin-left: auto;
    margin-top: 5px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    top: -2px;
    left: 0;
    bottom: 0px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.4);

}

input:checked+.slider {
    background-color: rgb(46, 46, 40);
}

input:checked+.slider:before {
    transform: translateX(15px);
    background-color: #ffce29;
}

/* Flex Container */
.category_desktop_container {
    display: flex;
    padding: 5px;
}

.category_desktop_arrow {
    margin-top: 45px;
    font-size: 25px;
    padding: 3px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .category_desktop_arrow {
        display: none;
    }
}

/* Flex Container */
.category_desktop {
    display: flex;
    justify-content: flex-start;

    overflow-x: auto;
    margin: 0px 5% 0px 5%;
    max-width: 970px;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar for IE/Edge */
}


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.category_desktop::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 700px) {
    .category_desktop {
        display: none;
    }
}

/* Image */
.image {
    margin: 10px 16px 20px 16px;
    padding: 5px 22px 30px 18px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(142, 142, 142, 0.3);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    color: black;
    height: 120px;
}

@media screen and (max-width: 1000px) {
    .image {
        height: 100px;
        width: 110px;
    }
}

@media screen and (max-width: 850px) {
    .image {
        height: 100px;
        width: 100px;
    }
}

/* Image Image */
.image img {
    width: 100px;
    height: auto;
    transition: transform 0.5s;
}

@media screen and (max-width: 1000px) {
    .image img {

        width: 80px;
    }
}

@media screen and (max-width: 850px) {
    .image img {

        width: 70px;
    }
}


/* Image Hover */
.image img:hover {
    transform: scale(1.2);
}

/* Text */
.text {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
}

.others {
    height: 120px;
    width: 130px;
    background-color: #ffce29;
    margin: 10px 16px 20px 16px;
    padding: 10px 22px 30px 18px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(130, 129, 129, 0.3);
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 1000px) {
    .others {
        height: 100px;
        width: 110px;
    }
}

@media screen and (max-width: 850px) {
    .others {
        height: 100px;
        width: 100px;
    }
}

.others p {
    margin: 30px auto;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .others p {
        margin: 20px auto;
    }
}

.link {
    color: black;
    text-decoration: none;
}

/* Category H5 Media Query */
@media screen and (max-width: 700px) {
    .category-h5 {
        display: none;
    }
}

/* Category Replace */
.category-replace {
    display: none;
}

/* Category Replace Media Query */
@media screen and (max-width: 700px) {
    .category-replace {
        opacity: 0;
        transition: opacity 2s, transform 3s;
        transition-delay: 0.2s;
        display: block;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
         /* position: absolute;   */
    }
}

/* Shop */
.shop {
    background-color: #ffce29;
    width: 40px;
    height: 40px;
    float: right;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    position: fixed;
    right: 1.2%;
    margin-top: 10px;
    z-index: 100;
    box-shadow: 0px 5px 10px rgba(72, 71, 71, 0.3);
    margin-right: 10px;
    top: 70%;
    cursor: pointer;
}

/* Shop Media Query */
@media screen and (max-width: 700px) {
    .shop {
        display: none;
    }
}

/* Shop Image */
.shop img {
    width: 24px;
    height: 20px;
    margin-right: 3px;

}

/* Shop Text */
.shop p {
    font-size: 13px;
    margin-left: 6px;
    text-align: center;
}

.shop_number_mobile_icon {
    background-color: #ffce29;
    width: 40px;
    height: 40px;
    box-shadow: 0px 5px 10px rgba(72, 71, 71, 0.3);
    float: right;
    padding: 10px;
    border-radius: 100%;
    display: none;
    text-align: center;
    position: fixed;
    right: 1.2%;
    margin-top: 10px;
    z-index: 100;

    margin-right: 10px;
    top: 70%;
    cursor: pointer;
}

.shop_number_mobile_icon:hover{
    background-color: #f8c008;
    border: 1px solid #fdc60f;
}

/* Shop Media Query */
@media screen and (max-width: 700px) {
    .shop_number_mobile_icon {
        display: flex;
    }
}

/* Shop Image */
.shop_number_mobile_icon img {
    width: 24px;
    height: 20px;
    margin-right: 3px;

}

/* shop_number_mobile_image Text */
.shop_number_mobile_icon p {
    font-size: 13px;
    margin-left: 6px;
    text-align: center;
}


/* Flex Container 2 */
.category_mobile {

    display: none;
}

/* Flex Container 2 Media Query */
@media screen and (max-width: 700px) {
    .category_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/* Image 2 */
.image2 {
    height: 110px;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(130, 129, 129, 0.3);
    border-radius: 4px;
    text-align: center;
}

@media screen and (max-width: 330px) {
    .image2 {
        height: 100px;
    }

}

@media screen and (max-width: 300px) {
    .image2 {
        height: 90px;
    }

}

/* Image 2 Image */
.image2 img {
    max-width: 100%;
}

/* Text 2 */
.text2 {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: black;
}

@media screen and (max-width: 330px) {

    .text2 {
        font-size: 11px;
    }
}

/* Shop 2 */
.others_mobile {
    background-color: #ffce29;
    height: 110px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(130, 129, 129, 0.3);
    border-radius: 4px;
    position: relative;
    font-size: 16px;
    color: black;
    text-decoration: none;
}


.others_mobile_link {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 600px) {


    .others_mobile {

        font-size: 14px;



    }


}

@media screen and (max-width: 330px) {

    .others_mobile {
        height: 100px;
    }
}

@media screen and (max-width: 300px) {
    .others_mobile {
        height: 90px;
    }

}

.others_mobile p {
    margin-top: 40px;
}

.shop3 {
    background-color: #ffce29;

    padding-right: 20px;
    float: right;
    padding: 10px;
    border-radius: 4px;
    display: none;
    text-align: center;
    position: fixed;
    right: 3%;
    margin-top: 10px;
    z-index: 100;
    max-width: 300px;
    margin-right: 10px;
    top: 70%;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .shop3 {
        display: none;
    }
}

.shop3 img {
    width: 24px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

.shop3 input {
    width: 170px;
    height: 25px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid red;
    margin-top: 3px;

}


.shop_number_mobile {
    background-color: #ffce29;

    padding-right: 20px;
    float: right;
    padding: 10px;
    border-radius: 4px;
    display: none;
    text-align: center;
    position: fixed;
    right: 3%;
    margin-top: 10px;
    z-index: 100;
    max-width: 300px;
    margin-right: 10px;
    top: 35%;
    cursor: pointer;
}

.shop_number_mobile img {
    width: 24px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

.shop_number_mobile input {
    width: 170px;
    height: 25px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid red;
    margin-top: 3px;

}

.close_shop_no {
    font-size: 20px;
    margin: 6px 12px 5px 4px;

}
.real {
    color: red;
}

.top_sales {

    opacity: 0;
    transition: opacity 2s, transform 3s;
    transition-delay: 0.2s;
    display: block;
    margin-left: 20px;
    /* position: absolute; */
}

.top_sales_margin {
    margin-top: 15px;
}

/* .category_search_page_code */

.main_categoty_serch_page {
    margin-top: 80px;
}

@media screen and (max-width: 700px) {

    .main_categoty_serch_page {
        margin-top: 110px;
    }
}

.search_by_category {

    opacity: 0;
    transition: opacity 2s, transform 3s;
    transition-delay: 0.2s;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.search_by_category_margin_for_category {
    margin-top: 40px;
}

/* Image Container */
.product_card_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;


}



.product_card {
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(185, 185, 185, 0.3);
    height: fit-content;

}

.product_card:hover {
    outline: 3px solid #ffce29;

}

.product_card_display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px; 
    row-gap: 20px;

}

@media screen and (max-width: 650px) {
    .product_card_display {
        grid-template-columns: 1fr 1fr;


    }
}

.product_image {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
    height: 350px;
    border-bottom: 2px solid whitesmoke;
}


@media screen and (max-width: 1800px) {
    .product_image {
        height: 300px;
    }
}

@media screen and (max-width: 1500px) {
    .product_image {
        height: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .product_image {
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    .product_image {
        height: 180px;
    }
}

@media screen and (max-width: 700px) {
    .product_image {
        height: 160px;
    }
}

@media screen and (max-width: 650px) {
    .product_image {
        height: 180px;
    }
}

@media screen and (max-width: 500px) {
    .product_image {
        height: 150px;
    }
}

@media screen and (max-width: 450px) {
    .product_image {
        height: 110px;
    }
}

.used-product {
    background-color: #68cbd8;
}
.new-product {
    background-color: #69e729;
}


.sold {
    position: absolute;
    /* background-color: #ffce29; */
    font-size: small;
    text-align: justify;
    padding: 6px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 12px;
}

@media screen and (max-width: 450px) {
    .sold {
        padding: 4px;
        font-size: 12px;
    }
}

.sold img {
    width: 8px;
    height: 8px;
}

.ask_for_price {
    color: red;
    /* font-size: 23px; */
    font-size: 18px;
    padding-right: 2px;
    margin: 0px;
    margin-bottom: 15px;

}

.main_and_promo_price_area {
    display: flex;
    margin: 0px;
    line-height: 9px;
    margin-top: 10px;
    margin-bottom: -9px;

}

/* Promo Price */
.promo_price {
    color: red;
    /* font-size: 23px; */
    font-size: 18px;
    padding-right: 2px;
    margin: 0px;


}

/* Main Price */
.main_price {
    text-decoration: line-through red;
    font-size: 12px;
    max-width: 30%;
    margin: 0px;
    margin-left: 5px;

}

.main_price_amount {
    white-space: nowrap;

}

@media screen and (max-width: 1000px) {
    .promo_price {
        /* font-size: 20px; */
        font-size: 16px;

    }

    .main_price {
        margin-left: 3.5px;
    }

    .ask_for_price {
        /* font-size: 20px; */
        font-size: 16px;
    }
}


@media screen and (max-width: 700px) {
    .promo_price {
        /* font-size: 18px; */
        font-size: 12px;

    }

    .main_price {
        font-size: 12px;
    }

    .ask_for_price {
        /* font-size: 18px; */
        font-size: 12px;
    }

}

@media screen and (max-width: 450px) {
    .promo_price {
        /* font-size: 16px; */
        font-size: 12px;
    

    }

    .ask_for_price {
        /* font-size: 16px; */
        font-size: 12px;
        
    }

    .main_price {
        /* font-size: 14px; */
        font-size: 10px;
        
    }
}

@media screen and (max-width: 400px) {
    .promo_price {

        /* font-size: 14px; */
        font-size: small;
    

    }

    .ask_for_price {
        /* font-size: 14px; */
        font-size: small;
        
    }

    .main_price {
        /* font-size: 12px; */
        font-size: small;
    
    }
}

@media screen and (max-width: 370px) {
    .promo_price {

        /* font-size: 13px; */
        font-size: x-small;
    

    }

    .ask_for_price {
        /* font-size: 13px; */
        font-size: x-small;

    }

    .main_price {
        /* font-size: 10px; */
        font-size: x-small;
    
    }
}

@media screen and (max-width: 350px) {
    .promo_price {

        /* font-size: 11px; */
        font-size: x-small;
        

    }

    .ask_for_price {
        /* font-size: 11px; */
        font-size: x-small;
    
    }

    .main_price {
        /* font-size: 9px; */

        font-size: x-small;
    
    }
}

@media screen and (max-width: 300px) {
    .promo_price {

        /* font-size: 9px; */

        font-size: x-small;
        

    }

    .ask_for_price {
        /* font-size: 9px; */
        font-size: x-small;
    
    }

    .main_price {
        /* font-size: 8px; */

        font-size: x-small;
    
    }
}



.connect {
    float: right;
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 700px) {
    .connect {
        display: none;
    }
}

.product_card_location {
    font-size: 12px;
}

@media screen and (max-width: 450px) {

    .product_card_location {
        font-size: 11px;
    }
}

.product_card_location i {
    color: #ffce29;
    margin-right: 2px;
}

.product_card_title {
    margin: 0;
    padding: 2px 7px 0px 7px;
    height: 75px;


}

@media screen and (max-width: 450px) {

    .product_card_title {
        font-size: 12px;
        height: 70px;
    }

}


.product_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 350px;
    margin: 0;
    margin-bottom: 0;
    font-size: 16px;

}


@media screen and (max-width: 1500px) {

    .product_name {
        max-width: 310px;

    }

}


@media screen and (max-width: 1400px) {

    .product_name {
        max-width: 290px;
    }

}


@media screen and (max-width: 1300px) {

    .product_name {
        max-width: 250px;

    }

}

@media screen and (max-width: 1200px) {

    .product_name {
        max-width: 230px;
    }

}

@media screen and (max-width: 1100px) {

    .product_name {
        max-width: 290px;
        font-size: 15px;
    }

}

@media screen and (max-width: 1000px) {

    .product_name {
        max-width: 255px;
    }

}

@media screen and (max-width: 900px) {

    .product_name {
        max-width: 210px;
        font-size: 14px;
    }

}

@media screen and (max-width: 800px) {

    .product_name {
        max-width: 190px;
    }

}

@media screen and (max-width: 700px) {

    .product_name {
        max-width: 170px;
        font-size: 13px;
    }

}

@media screen and (max-width: 650px) {

    .product_name {
        max-width: 250px;
    }

}

@media screen and (max-width: 610px) {

    .product_name {
        max-width: 200px;

    }

}

@media screen and (max-width: 500px) {

    .product_name {
        max-width: 170px;
        font-size: 12px;
    }

}

@media screen and (max-width: 450px) {

    .product_name {
        max-width: 150px;
    }

}

@media screen and (max-width: 400px) {

    .product_name {
        max-width: 130px;
    }

}

@media screen and (max-width: 350px) {

    .product_name {
        max-width: 120px;
    }

}

@media screen and (max-width: 330px) {

    .product_name {
        max-width: 90px;
    }

}

@media screen and (max-width: 320px) {

    .product_name {
        max-width: 80px;
    }

}

@media screen and (max-width: 310px) {

    .product_name {
        max-width: 80px;
    }

}

@media screen and (max-width: 300px) {

    .product_name {
        max-width: 70px;
    }

}

@media screen and (max-width: 290px) {

    .product_name {
        max-width: 60px;
    }

}

.product_card_title img {
    width: 30px;
    height: 33px;
    float: right;
    margin-top: -9px;
    padding: 5px;
}

@media screen and (max-width: 500px) {

    .product_card_title img {
        width: 25px;
        height: 27px;
        float: right;
        margin-top: -7px;
        padding: 5px ;
    }
}


.product_card_link {
    text-decoration: none;
    color: black;
}

.product_card_link:hover {
    color: black;
}



.startselling2 {
    padding: 10px 10px 0px 10px;
    position: fixed;
    right: 0;
    top: 80%;
    z-index: 100;
    display: none;
    background-color: red;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 13px;

}

.startselling2 img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width:700px) {
    .startselling2 {
        display: flex;
    }
}

/* Promotion */
.promotion {
    display: flex;
    margin-top: 50px;

}

/* Announcement */
.Annoucement {
    max-width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 35px;
}

/* Announcement Media Query */
@media screen and (max-width: 1000px) {
    .Annoucement {
        width: 150px;
        height: 150px;
    }
}

/* Announcement Media Query */
@media screen and (max-width: 800px) {
    .Annoucement {
        width: 100px;
        height: 100px;
    }
}

/* Announcement Media Query */
@media screen and (max-width: 720px) {
    .Annoucement {
        display: none;
    }
}

/* Announcement 2 */
.Annoucement2 {
    width: 35px;
    height: 35px;
    display: none;
}

/* Announcement 2 Media Query */
@media screen and (max-width: 720px) {
    .Annoucement2 {
        display: inline;
    }
}

/* Promotion Text */
.promotion p {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: 10%;
}

/* Promotion Text Media Query */
@media screen and (max-width: 720px) {
    .promotion p {
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
    }
}


/* Promotion Text Media Query */
@media screen and (max-width: 650px) {
    .promotion p {
      
        font-size: 11px;
    }
}
.buy_and_sell_logo_promotion{
    width: 200px;
}
@media screen and (max-width: 650px) {
   
.buy_and_sell_logo_promotion{
    width: 180px;
}
}
/* Get Started Button */
.get_started {
    padding: 5px 40px 5px 40px;
    background-color: #ffce29;
    border: 1px solid #ffce29;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s, transform 3s;
    transition-delay: 0.2s;
}

/* Get Started Button Media Query */
@media screen and (max-width: 680px) {
    .get_started {
        padding: 5px 30% 5px 30%;
        border-radius: 20px;
    }
}

/* Card */
.promotion_card {
    max-width: 400px;
    height: 240px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(169, 168, 168, 0.3);
}

.promotion_card img {
    width: 80px;
    height: auto;
    margin-top: 0;
}

.card_content_get_started {
    text-align: center;
    display: block;
}

.card_content_get_started p {
    font-size: 18px;
    font-weight: bold;
}

.card_content_get_started p span {
    font-size: 15px;
    font-weight: normal;
}

.card_content_get_started button {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid rgb(132, 132, 132);
    margin: 0px 5px;
}

@media screen and (max-width: 680px) {

    .card_content_get_started button {
        padding: 7px;
        font-size: 13px;
        margin: 0px 5px;
    }
}

/* Close Button */
.close_get_started {
    position: absolute;
    right: -2%;
    top: -5%;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 100px;
    padding: 8px 10px;
    border: 2px solid white;

}

/* Tell Us What You Want Text */
.tell_us_what_u_want {
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 2s, transform 3s;
    transition-delay: 0.2s;
    z-index: 1;
}

/* Tell Us What You Want Text Media Query */
@media screen and (max-width: 680px) {
    .tell_us_what_u_want {
        line-height: 8px;
        font-size: 10px;
    }
}



@media screen and (max-width: 370px) {
    .tell_us_what_u_want {
        line-height: 8px;
        font-size: 9px;
    }

}


.tell_us_what_u_want_input_area {
    display: flex;
    width: 65%;
    height: 55px;
    padding: 5px;
    justify-content: baseline;
    text-align: center;
    border: 2px solid #ffce29;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: none;
}

@media screen and (max-width: 680px) {

    .tell_us_what_u_want_input_area {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {

    .tell_us_what_u_want_input_area {
        width: 100%;
    }
}

.tell_us_input {
    width: 75%;
    justify-content: center;

    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    border: none;
}

.vertical_bar {
    border-left: 2px solid #ffce29;
    margin: 3px;
}

.tell_us_what_u_want_profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: auto;

}

.send {
    width: 100px;
    border: 2px solid #ffce29;
    background-color: #ffce29;
    border-radius: 5px;
    margin-left: 3px;
}

.loader {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-bottom: 45px;
    margin-right: 30px;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #ffce29;
    animation: spin 1s linear infinite;
}


.submmited {
    color: rgb(68, 200, 68);
    font-size: 18px;
    text-align: center;
    display: none;
}

@media screen and (max-width: 500px) {

    .submmited {
        font-size: 16px;

    }
}

/* Pen Icon */
.pen {
    width: 50px;
    height: 30px;
    margin-left: 0px;
    margin-top: 20px;
}

/* Pen Icon Media Query */
@media screen and (max-width: 680px) {
    .pen {
        width: 40px;
        height: 30px;
        margin-top: 10px;
    }
}

/* Tell Us What You Want Text */
.tell_us_what_u_want p {
    text-align: center;
    line-height: 0px;

}

/* Tell Us What You Want Text Span */
.tell_us_what_u_want span {
    color: red;
    cursor: pointer;
}



/* Footer Container */
.footer_contanier {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background-color: white;
}

/* Footer Container Image */
.footer_contanier img {
    margin-bottom: 20px;
}

/* Footer Links */
.footer_links {
    display: flex;
}

/* Footer Links Anchor */
.footer_links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: auto;
    margin-left: 10px;
    transition: all 0.3s;
}


@media screen and (max-width: 680px) {

    .footer_links a {

        font-weight: normal;
        font-size: 12px;
    }
}

/* Footer Links Anchor Hover */
.footer_links a:hover {
    transform: translateY(-6px);
    color: red;
}

/* Footer Icons */
.footer_icons {
    margin-top: 20px;
    cursor: pointer;
    padding: 15px;
}

/* Footer Icons Image */
.footer_icons img {
    padding: 10px;
    transition: all 0.2s;
}

/* Footer Icons Image Hover */
.footer_icons img:hover {
    transform: translateY(-7px);
}

/* animation styles */



#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    background-color: #0b0b0b;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;

    z-index: 999999999999999999999999;
}


.main-logo {

    max-width: 160px;
  }


